/* Agregar estilos personalizados */
.swiper-pagination-bullet-active {
  background: #ff8637 !important;
}

/* STYLE SWIPER PAGINATION CardHotelT */
#card-hotel-t>div.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal>span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: white !important;
  width: 6px !important;
  height: 6px !important;
  margin: 5px !important;
}

#card-hotel-t>div.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal>span {
  margin: 5px !important;
  width: 6px !important;
  height: 6px !important;
}
/* END SWIPER PAGINATION CardHotelT */


/* SWIPER ROOMS DETAILS */
#room-details>div.swiper-button-prev.swiper-button-disabled,
#room-details>div.swiper-button-prev {
  display: none;
}

#room-details>div.swiper-button-next {
  color: #666666;
  right: 7px;
  position: absolute;
  z-index: 1;
}

#room-details {
  position: static;
}

#room-details>div.swiper-button-next::after {
  font-size: 1.3rem;
}

/* END SWIPER ROOMS DETAILS */

/* SWIPER SHUFFLE HOTEL */
#swiper-shuffle-hotel>div.swiper-button-prev {
  display: none;
}

#swiper-shuffle-hotel>div.swiper-button-next {
  color: #ff8637;
  --swiper-navigation-size: 20px;
  left: 101%;
  z-index: 4;
  font-weight: bold;
}

#swiper-shuffle-hotel-pag>div.swiper-button-next {
  color: #ff8637;
  --swiper-navigation-size: 20px;
  left: 101%;
  z-index: 4;
  font-weight: bold;
}

#swiper-shuffle-hotel > div.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal{
  z-index: 4;
}

/*END SWIPER SHUFFLE HOTEL */