/* ROYAL NEXT STYLE */

/* Agregar estilos personalizados */
.swiper-pagination-bullet-active {
    background: #ff8637 !important;
  }
#card-hotel-t>div.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal>span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: white !important;
    width: 6px !important;
    height: 6px !important;
    margin: 5px !important;
  }
  
  #card-hotel-t>div.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal>span {
    margin:5px  !important;
    width: 6px !important;
    height: 6px !important;
  }

  /*END ROYAL NEXT STYLE */
  

  /* SWIPER ROOMS DETAILS */
  #room-details > div.swiper-button-prev.swiper-button-disabled{
    display: none;
  }
  
  #room-details > div.swiper-button-next{
    color: #666666;
    right: 7px;
    position: absolute;
  }
  #room-details{
    position: static;
  }
  #room-details > div.swiper-button-next::after{
    font-size: 1.3rem;
  }
  /* END SWIPER ROOMS DETAILS */